.contactMe {
    color: #fff;
    padding: 50px 0;
    height: 75dvh;
    margin-top: 100px;
  }
  
  .containerSection {
    max-width: 1100px;
    margin: auto;
  }
  
  .contactMe h3 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
  }
  
  .row {
    display: flex;
  }
  
  .col {
    width: 50%;
    padding: 10px;
    position: relative;
  }
  
  .col input, .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff;
    border: #252a2e solid 1px;
    color: #fff;
    font-size: 18px;
  }
  
  .contactMe button {
    background-color: var(--btn-color);
    color: var(--btn-text-color);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out transform 200ms ease-in-out;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .contactMe button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1cb698;
    z-index: -1;
    transition: 1s;
  }
  
  
  .col .info {
    position: absolute;
    top: 40%;
    background-color: #252a2e;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .col .info ul {
    list-style: none;
  }
  
  .col .info ul li {
    margin-top: 20px;
  }
  
  .col .info ul li i {
    color: #1cb698;
    display: inline-block;
    margin-right: 20px;
  }

  .maps{
    width: 570px;
    height: 570px;
   margin-left: 35px;
  }